/* card body */
.main-card {
    background-color: #1A1B21;
    width: 317px;
    height: 780px;
    border-radius: 10px;
    box-shadow: 2px 5px rgba(26, 27, 33, 0.5);
    margin: 10px auto;
    text-align: center;
}

/* profile picture */
.profile-pic {
    width: 317px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.about-me {
    text-align: center;
    margin-bottom: 30px;
}

.name {
    font-size: 20px;
    margin-top: 30px;
}

.role {
    color: #F3BF99;
    font-size: 13px;
    font-weight: 300;
}

.website {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: 200;
}

/* buttons */
.button-socials {
    width: 115px;
    height: 34px;
    border-radius: 8px;
    font-size: 16px;

}

.fa-brands {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.linkedin {
    margin-left: 20px;
    color: white;
    background-color: #5093E2;
}

.git {
    color: black;
}