/* card body */
.main-card {
    background-color: #1A1B21;
    width: 317px;
    height: 780px;
    border-radius: 10px;
    box-shadow: 2px 5px rgba(26, 27, 33, 0.5);
    margin: 10px auto;
    text-align: center;
    position: relative;

}

/* profile picture */
.profile-pic {
    width: 317px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.about-me {
    text-align: center;
    margin-bottom: 30px;
}

.name {
    font-size: 20px;
    margin-top: 30px;
}

.role {
    color: #DEA5A4;
    font-size: 13px;
    font-weight: 300;
}

.website {
    text-decoration: none;
    color: white;
    font-size: 10px;
    font-weight: 200;
}

/* buttons */
.button-socials {
    width: 115px;
    height: 34px;
    border-radius: 8px;
    font-size: 16px;

}

.button-socials>.fa-brands {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.linkedin {
    margin-left: 20px;
    color: white;
    background-color: #F5A7B7;
}

.git {
    color: #DEA5A4;
}

.paragraph {
    margin: 40px 34px 0 34px;
}

.paragraph>p {
    font-size: 10px;
    text-align: left;
}

.paragraph>h2 {
    margin-bottom: 0;
    text-align: left;
    font-size: 16px;
}

.footer {
    background-color: #161619;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 64px;
    border-radius: 0 0 10px 10px;
}

.footer>a {
    color: white;
    opacity: 0.5;
    font-size: 25px;
}

.footer>a:hover {
    opacity: 1;
    color: #DEA5A4;
}

.footer>a:not(:last-child) {
    margin-right: 20px;
}

.footer>a>.fa-brands {
    margin-top: 22px;
}